// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// CUSTOM
$dark-gray: #1d1d1d;
$light-gray: #dad8d8;
$neon-green: rgb(0, 255, 55);
$glow-green: 0 0 20px rgba(0, 252, 55, 0.9);
