// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Montserrat";
  src: font-url('Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
       font-url('Montserrat-VariableFont_wght.ttf') format('truetype')
}
// $body-font: "Montserrat", sans-serif;
// $headers-font: "Montserrat", sans-serif;


@font-face {
  font-family: Inconsolata;
  src: url('Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
}
$body-font: "Inconsolata", monospace;
$headers-font: "Inconsolata", monospace;
