  <div class="footer-wrapper">
    <div class="footer-links">
        <div class="contact-links">
          <a href="https://linkedin.com/arnoarend" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/arnoad" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.xing.com/profile/Arno_Arend/cv?expandNeffi=true" target="_blank"><i class="fa-brands fa-xing"></i></a>
          <%# <a href="#" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a> %>
        </div>
    </div>
    <div class="footer-copyright">
      © 2023 Portfolio – Coded by Arno Arend
    </div>
  </div>
