<div class="physiosteos">
  <div class="phys-left">
    <h2><a href="http://physiosteos.com" target="_blank">&gt; physiosteo's <i class="fa-solid fa-arrow-up-right-from-square", style="text-decoration: none;"></i></a></h2>
    <p>&gt; A group of physiotherapists and osteopaths is launching their practice in southern Belgium, and they've entrusted me with the task of creating their website. Their confidence in my expertise underscores the importance of a professional online presence as they embark on this exciting venture in the healthcare field.</p>
    <%= image_tag image_url("physiosteos_laptop-removebg-preview.png") %>
    <%#= image_tag image_url("mobile_phys.png") %>
  </div>
  <div class="phys-right">
    <%= image_tag image_url("physiosteos_website.png"), style: "width: 200px;" %>
  </div>
</div>
