<div class="carepet">
  <div class="carepet-left">
    <h2>&gt; carepet</h2>
    <p>&gt; During my bootcamp at "Le Wagon", we had to create an app to connect pet owners and people that wanted to take care of other people's pets in exchange of money. That's CarePet!</p>
    <%= image_tag image_url("physiosteos_laptop-removebg-preview.png") %>
    <%#= image_tag image_url("mobile_phys.png") %>
  </div>
  <div class="carepet-right">
    <%= image_tag image_url("physiosteos_website.png"), style: "width: 200px;" %>
  </div>
</div>
