<div class="physiosteos">
  <div class="phys-left">
    <h2><a href="http://physiosteos.com" target="_blank">&gt; physiosteo's <i class="fa-solid fa-arrow-up-right-from-square", style="text-decoration: none;"></i></a></h2>
    <p>&gt; these physiotherapists and osteopaths are starting their activity in southern Belgium and put their trust in me to create this website.</p>
    <%= image_tag image_url("physiosteos_laptop-removebg-preview.png") %>
    <%#= image_tag image_url("mobile_phys.png") %>
  </div>
  <div class="phys-right">
    <%= image_tag image_url("physiosteos_website.png"), style: "width: 200px;" %>
  </div>
</div>
