<div class="carepet">
  <div>

  </div>
  <div class="carepet-left">
    <h2>&gt; carepet</h2>
    <p>&gt; During my immersive experience at "Le Wagon" bootcamp, I collaborated in a team of three individuals, and together, we embarked on a challenging two-week project. Our mission was to create an innovative mobile application designed to facilitate connections between pet owners and individuals interested in caring for other people's pets in exchange for compensation. The concept behind our project, known as "CarePet," draws inspiration from the seamless booking process of Airbnb, where pet owners can request pet care services, much like how Airbnb hosts receive accommodation requests from travelers. Our journey involved intensive coding, design, and testing to ensure a user-friendly and responsive platform. CarePet promises to revolutionize the pet care industry, offering convenience and peace of mind for both pet owners and caregivers while creating a thriving community of pet enthusiasts looking to provide loving care to animals in need.</p>
    <%#= image_tag image_url("mobile_phys.png") %>
  </div>
  <div class="carepet-right">
    <%= image_tag image_url("carepet_2.png"), style: "width: 200px;" %>
    <%= image_tag image_url("carepet_1.png"), style: "width: 200px;" %>
  </div>
</div>
