<div class="skill-page">
  <h1>&lsqb;my skills&rsqb; <i class="fa-solid fa-arrow-pointer"></i></h1>
  <div class="skillset">
    <ul>
      <li>
        <i class="fa-regular fa-gem"></i>
        <p>ruby</p>
      </li>
      <li>
        <i class="fa-brands fa-css3"></i>
        <p>css</p>
      </li>
      <li>
        <i class="fa-brands fa-html5"></i>
        <p>html5</p>
      </li>
      <li>
        <i class="fa-brands fa-square-js"></i>
        <p>javascript</p>
      </li>
      <li>
        <i class="fa-solid fa-database"></i>
        <p>database</p>
      </li>
    </ul>
  </div>
  <h2 class="chevron-symbol">&gt;</h2><h2>further skills loading<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span></h2>
</div>


<script>
  // Wait for the page to load
  window.addEventListener("load", () => {
      const li = document.querySelector("li");
      li.style.animationPlayState = "running";
  });
</script>

<script>
  // Wait for the page to load
  window.addEventListener("load", () => {
      const chevron = document.querySelector("chevron");
      chevron.style.animationPlayState = "running";
  });
</script>
