.carepet {
  margin-top: 180px;
}

.carepet h2 {
  color: white;
  transition: 0.5s;
}

// .carepet h2:hover {
//   color: $neon-green;
//   text-shadow: 0 0 20px rgba(0, 252, 55, 0.9);
// }

.carepet {
  display: flex;
  justify-content: space-evenly;
  margin-top: 180px;
}

.carepet-left {
  width: 630px;
}

.carepet-right img {
  border-radius: 5px;
  margin-right: 40px;
}
